[2017-04-24 10:47] saurabhdomain opened #2 "jspdf not compatible with AutoTable plugin of jspdf"
Hi,
I was trying to print some table using this version of jspdf. I have tried the following approaches
1.  Using AutoTable plugin designed to work with MrRio/jspdf, but the resulted table is not as expected.
2. Using default table version of jspdf . The result was still unexpected.

Problems found were same. The color of text and header fill color is same and the position of header and  the text

[2017-04-24 11:32] yGuy commented on #2
This fork of jsPDF is mainly meant to be used in conjunction with svg2pdf.js and the main use of it is to convert svg to pdfs.
Does the same problem exist with the original jsPDF or is it specific to this fork?
If so, please file the bug against the original jsPDF.
That said, we won't be fixing problems with third party plugins, however we will of course accept pull-requests that improve the compa

[2017-04-24 11:40] saurabhdomain commented on #2
Hi
Thanks for the quick reply
No with original jspdf things are working perfectly fine . This problem is with this fork .
Apart form the plugin compatibility the default function of creating Table ( present in original version) is also not working as expected with this fork.
I tried to figure out the issue but was not able to pinpoint the exact problem.

Thanks
Saurabh

[2017-04-26 06:01] girish0628 opened #3 "Table Formatting problem while using Jspdf.Table function"
Hi,
I am using the latest fork version of jspdf (**Version 1.2.68** ) to print a html table , but the resulting table has some serious issues. The resulted table header is getting merged with the row texts and the fill color of table header is same as that of text. I tried modifying this fork  api by comparing it with Original MrRio version but was not able to figure it out correctly.  Any help in

[2017-04-26 06:44] yGuy commented on #3
I think this is actually a duplicate of #2

[2017-07-18 06:50] yGuy opened #5 "fill-opacity is only applied to one element, subsequent elements ignored"
This has been originally reported in https://github.com/yWorks/svg2pdf.js/issues/29 -there is also a proposed solution.

[2017-07-18 07:16] TorsteinHonsi commented on #5
Thanks!

[2017-07-18 07:32] TorsteinHonsi commented on #5
I tried this change locally and it works fine:
[code]
Will you do the change in the repo?

[2017-07-18 15:27] yGuy commented on #5
Should be fixed with the newest 1.2.69 (along with the broken build).

[2017-07-18 15:27] #5 closed

[2017-07-19 14:26] TorsteinHonsi commented on #5
Great, thanks!

FYI, the version number in the header seems to be forgotten: https://github.com/yWorks/jsPDF/blob/v1.2.69/dist/jspdf.min.js#L3

[2017-10-10 06:54] poplevente opened #6 "issue with utf-8 characters"
Hi, i'm having issues with some utf-8 characters
For example text : őőŐŐűűááŐÚÜÖ
is shown like QQQPPqqááPÚÜÖ

http://jsbin.com/rilace/edit?html,js,output

These characters aren't supported?

[2017-10-10 08:19] yGuy commented on #6
No, they are not - this is a long standing issue with the underlying original implementation by MrRio. There are projects, which try to fix this: https://github.com/sphilee/jsPDF-CustomFonts-support
Fonts and font-mapping is still a big issue with that libray: https://stackoverflow.com/a/22356398/351836

We are thinking about merging the CustomFonts code into our fork. But this still needs a lot o

[2017-10-10 11:36] poplevente commented on #6
ok, thanks.

for now as the fastest solution I'm flattening all letters that are not extended ascii, with the ones without the diacritics. of course i know i have not too much text, so it's not taking me back in performance.

`function isASCII(text, extended) {
    return (extended ? /^[\x00-\xFF]*$/ : /^[\x00-\x7F]*$/).test(text);
}

function escapeTextforPdf(text) {
	for(var i=0;i<text.length;++

[2018-01-12 08:52] poplevente opened #7 "error after last release of 1.3"
hey guys,
after the release of version 1.3, i get the following error:

no such file or directory node_modules\jspdf-yworks\makeFonts.js

any info about this?

[2018-01-12 13:38] HackbrettXXX commented on #7
Hi,

thanks for notifying us. I could reproduce it myself. The reason is probably that the `"makeFonts.js"` is missing from the package.json `"files"` entry. We're gonna fix this asap and upload a new version.

For now you'll probably need to use v1.2.70 or get v1.3.0 via Bower/GitHub.

[2018-01-12 14:43] HackbrettXXX commented on #7
1.3.1 is now up and the error should be gone

[2018-01-12 14:43] #7 closed

[2018-01-12 14:45] poplevente commented on #7
cool thanks!

[2018-01-27 07:34] rafiek opened #8 "svg2pdf as a plugin for jspdf"
Will this great solution ever be a plugin for jspdf?

[2018-01-28 14:40] HackbrettXXX commented on #8
Currently, this is not our plan (@yGuy ?). Is there a specific reason why you need it as plugin? Or do you mean it should be a plugin for the original [jsPDF](https://github.com/MrRio/jsPDF)?

[2018-01-29 07:36] yGuy commented on #8
svg2pdf *needs* to use a fork of the original jsPDF since we are using a completely different approach to to the coordinate conversion (the original version has some severe limitations in this area and we would have to implement major workarounds around jsPDF's current behavior in order to get a working result). Using our own fork makes svg2pdf *a lot* simpler. And since we also had to implement a

[2018-01-29 07:36] #8 closed

[2018-01-31 23:15] shobeck opened #9 "TypeError: m.saveGraphicsState is not a function"
I am new to this library.  I have an SVG that I am trying to save as a PDF.  SVG renders fine.  But when I try to run the SVG2PDF - I get the following error:

ERROR TypeError: m.saveGraphicsState is not a function at it (svg2pdf.min.js:24)

With the following code:
    const svgElement = document.getElementById('svgelement');
    const width = 300, height = 200;

    // create a new jsPDF instanc

[2018-01-31 23:30] shobeck commented on #9
Solved: I was including the wrong library.

NOT THIS: import * as JsPDF from 'jsPdf';

THIS: **import * as JsPDF from 'jsPdf-yworks';**

[2018-01-31 23:30] #9 closed

[2018-03-16 08:39] zedtux opened #10 "`npm install` fails with "Permission denied (publickey)" errors"
Running `npm install` from the [svg2pdf.js](https://github.com/yWorks/svg2pdf.js) package fails with:

[code]

[2018-03-16 09:06] yGuy commented on #10
Hmmm - thanks for the report. Are you sure this is necessary. Running the same on a clean node:6 docker image I can clone the repo and run npm install without problems. Are you sure this is not because of some conflicting local .ssh or .git settings?
That said - the build actually does not work for me ATM. I get a problem with the browserify step in my clean docker image. @HackbrettXXX - can you d

[2018-03-16 09:11] zedtux commented on #10
I'm missing the `.map` file, and before running `npm run build`, I need to install the dependencies.

I'm running a debian Jessie Docker image with my app which has a dependency on this library, so I have no configured .ssh or .git settings.

[2018-03-16 09:27] yGuy commented on #10
Your node version is from the stone-age. Are you sure you want to be running npm  1.4?

root@4954590953a5:/# mkdir test && cd test
root@4954590953a5:/test# git clone https://github.com/yWorks/jsPDF
Cloning into 'jsPDF'...
remote: Counting objects: 6598, done.
remote: Total 6598 (delta 0), reused 0 (delta 0), pack-reused 6598
Receiving objects: 100% (6598/6598), 46.96 MiB | 5.81 MiB/s, done.
Resolv

[2018-03-16 09:30] zedtux commented on #10
Well I'm following what is running in prod right now. It is true it is a very old version, but unfortunately I can't upgrade it for now (I'm adding tests on the app before to migrate anything). 😞

[2018-03-16 09:38] yGuy commented on #10
The build works with a decently recent version of npm and node: It is indeed missing a dependency on bower and bower only works in the official node docker image if you `su node` before you do anything, so I don't see the need to support node0.x anymore.

[2018-03-16 09:50] zedtux commented on #10
Is there another way to get this `.map` file?

[2018-03-16 10:31] yGuy commented on #10
Yes, there is: build it on a separate server that uses a current version of npm. Sorry, I don't think we should start supporting years old environments. You should update instead, IMHO.

[2018-03-16 10:31] #10 closed

[2018-03-16 10:39] zedtux commented on #10
Thank you @yGuy I will do it in a Docker container 👍.

[2018-03-16 11:51] zedtux commented on #10
Within the svg2pdf.js folder:

[code]

Then I copied the `.map` files. Thank you @yGuy.

[2018-03-17 16:06] HackbrettXXX commented on #10
@yGuy I just tested the build. On a fresh clone it works locally on my PC. However, if I run it in a Docker, the build fails:

[code]

The reason seems to be that browserify cannot resolve the "SvgPath"-dependency. A quick search didn't yield any solutions. I'll have a look at it again, soon.

[2018-03-19 08:06] yGuy commented on #10
@HackbrettXXX - browserify will refuse to run under root - did you do a su node? Did you run all of this inside the docker instance or using a volume mapped to you local checkout? My last tests with node:6 succeeded.

[2018-03-19 14:39] HackbrettXXX commented on #10
I ran it on a mapped folder and without "su node" (so probably as root, I'm no docker expert). But if it works for you now, I guess everything is fine.

[2018-05-31 15:23] pekkakyllonen opened #12 "Mismatch anonymous defines - causing problems when minified"
I'm encountering such an error there when the build is minimized/combined into main.js, with version 1.2.70 and also newer version 1.3.2. After googling a bit it appears to be a problem in requirejs with (multiple) anonymous defines and after some searching I tried the following hack to the very start of the jspdf.min/debug.js :

typeof define === 'function' && define.amd ? define(factory) : ...
=

[2018-05-31 15:41] HackbrettXXX commented on #12
Could you give us more information, please?
 - In which context do you use jsPDF? Are you bundling it with other modules? How do you include jsPDF to your project?
 - Could you give us some links to the commits of the original project you're mentioning?

[2018-06-01 06:43] pekkakyllonen commented on #12
We use jspdf for the creating offline (local) exporting / printing with highcharts libraries - i.e. the highcharts export service is not used for creation of pdf. Packages are bundled together (around 50) and only production build is causing problem (bundling+minify). Dev build works ok. Packages are listed in main.js require.config.

I'll look to list some relevant posts/commits.

[2018-06-01 07:39] yGuy commented on #12
I'd say this indicates a clear bug in the bundler/minifier - the bundler/minifier ideally should not have an influence on the correctness of the code, but obviously it has.

If you still think this is a problem with our jsPDF fork, please provide a complete self-contained minimized repro. Thanks!

[2018-06-01 12:41] pekkakyllonen commented on #12
It's obviously a requireJS problem. There seems to be plenty of similar cases around. I'm trying to find a workaround for this one.

[2018-06-04 06:50] yGuy commented on #12
Yes - the original JsPdf sources [are problematic](https://github.com/MrRio/jsPDF/issues/1073) because they contain multiple `define` statements that simply don't work in a requireJS environment. RequireJS won't tell you about that, though, unfortunately.

[2018-06-04 12:34] pekkakyllonen commented on #12
Sorry for the trouble and thank you for your time! I was having some wild ideas about making a fork/branch where would go/stab around that problem within the dist/jspdf.min.js but appears we could be having another solution soon. Let's see how it goes.

[2018-06-04 14:41] HackbrettXXX commented on #12
I'm gonna have a look at the changes of https://github.com/MrRio/jsPDF/pull/1646 and apply them to our fork.

[2018-06-06 06:18] Uzlopak opened #13 "Reunite with jsPDF?"
Hi,

is there interest to unite this fork with jsPDF?

Best Regards
Aras

[2018-06-06 06:29] yGuy commented on #13
We would be open to this, however we had to do some major -slightly API incompatible- refactorings regarding the transformation handling in jsPDF. That's why we created the fork in the first place.
I guess it would be possible but it would require a major version step in the original jsPDF - I am positive that this change would be for good.

If someone manages to do the merge, we would definitely

[2018-06-06 06:41] Uzlopak commented on #13
Nice. I am aware that this is not a one day job. I am right now trying to get first the codecoverage of jsPDF to about 80%. Then I would try to merge other successful forks into the main project :)

Can you give some information, which implementation is broken?

[2018-06-06 06:51] Uzlopak commented on #13
Da ich grade sehe, dass du Tübinger bist: Können wir nicht direkt auf deutsch schreiben?

Viele Grüße aus Düsseldorf

[2018-06-06 06:58] yGuy commented on #13
I could communicate in German, however on GitHub I would definitely prefer English so that others can join in the discussion.

The one major "broken implementation" was mainly conceptually broken. See the early commits done by @HackbrettXXX - jsPDF reapplies a transform for each and every element whereas our fork applies a global initial transform at the root level to cater for the differences bet

[2018-06-06 13:51] HackbrettXXX commented on #12
@pekkakyllonen could you check if the changes I made fix your problem? See this branch: https://github.com/yWorks/jsPDF/tree/anonymous-defines

[2018-06-07 09:17] pekkakyllonen commented on #12
I'll have a look at it as soon as I find the time. Thanks!

[2018-06-29 11:29] HackbrettXXX commented on #13
Any more thoughts on this topic?

I, too, think it would be a good idea to merge the two repos again. However, I agree with @yGuy that we need to adopt "our" way of transforming between the two coordinate systems, as nested transformations are nearly impossible when transforming each individual y-coordinate.

All in all I think the effort for the merge should not be too big. The trouble is only th

[2018-06-29 14:12] yGuy commented on #13
Let's discuss this face to face some time in July. I am open to your suggestions. Let me know your availability!

[2018-06-29 21:15] Uzlopak commented on #13
Hi, right now I have exam time and actully total busy. I will come back to this topic after I am finished with the exams

[2018-07-02 07:12] yGuy commented on #13
@arasabbasi Actually I meant to answer @HackbrettXXX - we'll keep the public updated.

[2018-07-18 09:24] pxr64 commented on #2
Any news on this, I am facing the same problem.

[2018-07-18 09:50] yGuy commented on #2
No news, here. This is basically blocked by #13 and a duplicate of #3

We are currently considering to resolve #13 which should "fix" this issue, too. Note again, that *this* fork was not meant to be used as a replacement to the original JSPdf and thus was never meant to be compatible with plugins for the original one. It was meant to support svg2pdf.

[2018-07-18 09:50] #2 closed

[2018-07-18 09:52] yGuy commented on #3
This will hopefaully start working again once #13 is fixed. Basically this issue is blocked by #13

[2018-07-18 09:52] #3 closed

[2018-07-18 09:53] yGuy commented on #6
I think this should be fixed, now that we have support for custom fonts, wouldn't you agree @HackbrettXXX ?

[2018-07-18 09:55] yGuy commented on #13
We'll be working on minimizing our patches so that we still have a fork, but that fork will only add new functionality and should be backward compatible with the original jspdf. That would make it theoretically possible for the original project to merge this project's enhancements. Our code will basically use the new API, because the original API is just too limiting/broken with respect to transfo

[2018-07-19 11:26] Uzlopak commented on #6
Note to myself to check if I can implement this into jsPDF

[2018-07-23 12:55] HackbrettXXX commented on #6
I just tested it and it works both with our recent changes and on the current master (assuming you embed a font that supports these characters).

[2018-07-23 12:55] #6 closed

[2018-07-23 13:09] HackbrettXXX commented on #2
I have some good news: the AutoTable plugin works now on the https://github.com/yWorks/jsPDF/tree/compatible-API branch, which will be merged and released in the near future.

[2018-07-23 13:10] HackbrettXXX commented on #3
See my latest comment on #2 ;)

[2018-07-23 13:39] poplevente commented on #6
Great work guys!

[2018-09-27 10:36] mbrodala commented on #12
@yGuy Can you have a look at this? We also try to use this library with the offline export of Highcharts but as soon as we load jsPDF everything breaks in rather obscure ways.

[2018-09-27 10:40] HackbrettXXX commented on #12
We need more details in order to help you. What error messages do you get? Which version of svg2pdf/jsPDF do you use? How do you load the libraries? Can you provide an minimal repro?

[2018-09-27 10:49] mbrodala commented on #12
The error message I currently get is this:

[code]

For some odd reason `jsPDF` is loaded *instead* of `highcharts` which breaks everything. If I don't load `pdfJS`, everything works fine. (Except PDF export of course.)

* svg2pdf is at version 1.2.1
* jsPDF is at version 1.4.1

We load everything via RequireJS and currently try to bundle all export-related logic in a custom module which basically

[2018-09-27 12:54] HackbrettXXX commented on #12
This in fact seems to be an issue of jsPDF. When I use the version of the branch with the anonymous defines fix (https://github.com/yWorks/jsPDF/tree/anonymous-defines), it works.

As @pekkakyllonen did not report if the fix works for him, I'm gonna take @mbrodala's case now as a proof and merge it into master.

As a quick workaround for you, you can check out the version of the fix branch until o

[2018-09-27 13:02] mbrodala commented on #12
@HackbrettXXX thanks, this indeed [looks better](https://codepen.io/mbrodala/pen/VEZBKd) now. Looking forward to the next release. :-)

[2018-11-05 14:43] alehkudrevich opened #14 "Error in function Object.: Cannot create property 'filename' on string"
`.save()` function cause an error.

`Error in function Object.: Cannot create property 'filename' on string 'Test.pdf'`

Same in repostory examples.

[2018-12-20 16:22] Uzlopak commented on #13
Today we released a new version of jsPDF. The next milestone will be to extend jsPDF with your forks features :). So we should have in version 1.6.0 all your changes in jsPDF. :)

[2018-12-20 17:08] yGuy commented on #13
I guess you've seen that we basically just reformatted the original code using (our preferred settings of) Prettier.io . After reformating, the diff will be much smaller. But maybe you already had the idea of applying a sane and consistent code style in the original branch ;-)

[2018-12-20 17:15] Uzlopak commented on #13
No. I didnt see that. :) I tried to get at first a good percentage in unit testing in jspdf.js . It is now at about 92 %.  I will try to merge step by step your code into the origin branch. At the end i can check how prettier.io works and run it over jspdf.

Is this a deal? :)

[2018-12-20 17:26] yGuy commented on #13
I think this will make it *a lot* more difficult for you. It's probably a lot easier to first run prettier (with the same settings) over the master branch and then do the diff and merge. The diff is actually *extremely* small. We took special care about that. Basically after running prettior on the mrRio "branch" we are only a few commits behind and the diff is really very small. If we had to merg

[2018-12-29 05:12] Uzlopak commented on #13
I started the merge
https://github.com/MrRio/jsPDF/pull/2214

[2019-01-16 13:37] HackbrettXXX opened #18 "Font encoding issue"
see https://github.com/yWorks/svg2pdf.js/issues/64

[2019-01-16 14:15] #18 closed

[2019-02-22 09:09] VKB2612 opened #19 "jsPDF setPage() not working for html(), always renders html source in first page with xOffset and yOffset 0"
Hi,

I need to add panel contents to each page in PDF (header panel). I am using the new html() method to do this. I am trying to set the current page using setPage() function but the output PDF has all the header panels in first page with xOffset and yOffset 0 and hence overlapped on each other.

jsPDF v2.0.0
Please refer fiddle: https://jsfiddle.net/7gf35uay/5/

The header panel is coming twice

[2019-02-22 09:22] yGuy commented on #19
Please try to come up with a smaller repro and be sure to check whether this is actually an issue with our jsPDF fork, or (more likely) an issue with the original jsPDF, in which case I would like you to redirect to their issue tracker.

[2019-02-22 11:03] VKB2612 commented on #19
Hi,

As I am using the version of jsPDF fork that supports svg2pdf conversion which is our requirement, I thought this is the right support forum. Now it is clear that the issue exists with html() functionality of original jsPDF, I will raise an issue in their issue tracker. Thanks.

[2019-02-22 11:03] #19 closed

[2019-02-27 12:27] amarantedaniel opened #20 "utf8 support"
Texts don't render correctly depending on what text you write.

[code]
renders `þÿA " B`

In the original version of jsPDF this is fixed. What are the plans on implementing that?

[2019-02-27 15:35] HackbrettXXX commented on #20
Did you add a font supporting these utf8 characters?
If yes, could you give us a link to the respective issue/pull request?

[2019-02-27 16:55] amarantedaniel commented on #20
I'm using the default font, but the same code works when using `MrRio/jsPDF` so I assumed it wasn't a font problem

[2019-02-27 17:21] HackbrettXXX commented on #20
When I run the code with MrRio/jsPDF, it renders to `A " B`, which also not correct.

[2019-03-23 12:21] Uzlopak commented on #13
I made some API changes, so that maybe yWorks can use jsPDF by modifying some method-calls.

[2019-04-03 05:26] Uzlopak commented on #13
I think there are some huge merge errors. Can you please provide some test cases, so that i can do some integration tests?

[2019-04-03 06:33] yGuy commented on #13
What's wrong with our set of test files?
I would also like to remind you that the diff was actually minimal and the merge was almost trivial (see my previous comment). I don't understand why you made it so difficult for you (and now us). Please understand that we are currently not willing to invest more time into this specific merge, knowing that from our point of view this is just a waste of time

[2019-04-03 09:16] Uzlopak commented on #13
The tests in your fork simply don't pass. Just clone your project, npm install and run test-local. Most tests are red, which means they fail. The same with the tests in svg2pdf.js.
![image](https://user-images.githubusercontent.com/5059100/55467493-b7326500-5601-11e9-9cdb-370d8427db4f.png)

Nobody asked you for more "investments". Just working tests.

[2019-04-03 09:52] HackbrettXXX commented on #13
When I run the tests, they are all green:
![image](https://user-images.githubusercontent.com/16103654/55469961-f0b99f00-5606-11e9-87bb-d7ab6b6f5db2.png)

![image](https://user-images.githubusercontent.com/16103654/55469981-fe6f2480-5606-11e9-96b2-58ed93fdbb06.png)

[2019-04-03 12:26] Uzlopak commented on #13
Do you use linux or any other non-windows OS?

[2019-04-03 13:06] HackbrettXXX commented on #13
I use Windows. I already thought that this might be an encoding problem. Would be great if you could investigate this. Pull requests are welcome.

[2019-04-15 10:15] Uzlopak commented on #13
Committig with git removes \r\n to \n thus resulting in the errors.

Anyhow... I am getting closer to the goal of merging the two repos. ;).

I am testing the merge against the svg2pdf library. Probably will add the tests and svgs of svg2pdf to jsPDF to keep them as integrity tests. Is that ok with you?

[2019-04-30 20:22] Fredo70 commented on #12
I updated highcharts to 7.1.1 which provide version 2.0.0 of jsPDF ([https://code.highcharts.com/7.1.1/lib/jspdf.js](https://code.highcharts.com/7.1.1/lib/jspdf.js) and get exactly this problem. Sometime it works, mainly it doesn't. Get either mismatched error or the callback references of other modules are messed up.

[2019-05-02 06:41] yGuy commented on #12
Please provide a jsfiddle or pen or whatever repro that shows that this is still an issue. The one in https://github.com/yWorks/jsPDF/issues/12#issuecomment-425045680 seemed to work.

[2019-05-02 07:13] Fredo70 commented on #12
The difficulty is that sometimes it works. You have to run again and again and there is an exception.

https://stackoverflow.com/questions/55920688/highcharts-version-7-1-1-how-to-offline-exporting-pdf-with-amd-modules

https://jsfiddle.net/zbc149wh/2/

I solve the problem by set a name to all define in the file dist/jspdf.debug.js. Then it always works.

But I am sorry that I am unable to correct

[2019-05-02 07:34] yGuy commented on #12
Thanks for the fiddle. Can you simplify the repro to make this a true test case. Most importantly, please don't use the highcharts version of the library, but use our official release. Otherwise I would argue that you should file the issue against highcharts.
Thank you for your help!

[2019-05-02 07:36] yGuy commented on #12
It looks as if this issue should have been fixed in this changeset quite some time ago - maybe a later merge broke the workaround? https://github.com/yWorks/jsPDF/commit/4eb63c49e4370a36594bb29dc742c264fc53d8a3

[2019-05-02 08:29] HackbrettXXX commented on #12
That seems to be the case.

[2019-05-21 20:48] scottctr opened #21 "Losing landscape when printing"
My PDFs are mostly working well, but in Adobe Print Preview it shows as Portrait instead of Landscape and it cuts off the right side of my pages. The pages look fine before opening print preview. Am I missing a setting? I just want all of the pages to be 11 x 8.5 inches (i.e. landscape mode of standard US paper).

[code]

![image](https://user-images.githubusercontent.com/29161665/58129450-6261a28

[2019-05-22 08:06] HackbrettXXX commented on #21
As far as I know there is no property in the PDF format that sets the orientation for printing. In my Acrobat reader there is an "Auto portrait/landscape" option which is selected by default and correctly sets the orientation to landscape for me.

[2019-05-22 08:06] #21 closed

[2019-06-11 10:08] Fadiabb opened #22 "Add Support for some jspdf functions"
Hallo,
The following MrRio/jsPDF functions are not supported in yWork-jspdf Fork :
getLineHeightFactor() :
[http://raw.githack.com/MrRio/jsPDF/master/docs/jsPDF.html#setLineHeightFactor](http://raw.githack.com/MrRio/jsPDF/master/docs/jsPDF.html#setLineHeightFactor)
setLineDash() :
[https://github.com/MrRio/jsPDF/blob/master/examples/js/lines.js#LC36](https://github.com/MrRio/jsPDF/blob/master/exam

[2019-06-11 10:09] yGuy commented on #22
These functions have been added only recently and we will have to merge with the master to get these. What's the use-case for these functions?

[2019-06-11 14:51] Fadiabb commented on #22
setLineDash() : we use it to set the dash pattern for upcoming lines (line,circle,......)
getLineHeighFactor(): we use it in a function to calculate the text height of many lines text

[2019-06-11 15:02] yGuy commented on #22
The next time we merge with master (if this is still feasible), the functions will be added. There is currently no roadmap for this, but it will happen sooner or later.

[2019-06-12 07:38] bernhardreiter commented on #13
Please keep this efforts going, I think everyone will benefit in the end, especially https://github.com/yWorks/svg2pdf.js .

[2019-07-02 15:50] bernhardreiter commented on #22
Here is a patch to add setLineDash() against 3561de8fa953a48e98a08255bb97c9d8a9028eff (current master) which works for me:

[code]
Shall I prepare a pull request?
(I've not included the test cases, because I haven't checked what the new place for them would be. I did slight change the Error message to end with a fullstop and to remove the `jsPDF.` part.)

[2019-07-02 15:59] HackbrettXXX commented on #22
There is already a `setLineDashPattern` method. We can probably just delegate to it. Also, in "advanced" API mode we should not scale the values by `k`.

[2019-07-03 08:34] bernhardreiter commented on #22
The upcoming jsPDF with https://github.com/MrRio/jsPDF/commit/849ce007 now already accepts setLineDashPattern() as part of getting more compatible, so implementing setLineDash is not necessary anymore.

[2019-07-03 09:08] bernhardreiter opened #23 "setLineDashPattern not complaining if second parameter is missing and not compatible with jsPDF"
jsPDF.version = '2.0.2' is not drawing the line patterns for circles as expected,
see the comparison with jspdf (latest) is from April (where setLineDashPattern is not yet an alias for setLineDash.)

[code]

[code]

[jspdf-yworks.pdf](https://github.com/yWorks/jsPDF/files/3354162/jspdf-yworks.pdf)
[jspdf-201904.pdf](https://github.com/yWorks/jsPDF/files/3354163/jspdf-201904.pdf)

[2019-07-03 09:15] bernhardreiter commented on #23
In addition jspdf-yworks.pdf does not open in a libpoppler based PDF viewer, while jspdf-201904.pdf does, though does not show the last circle.

[2019-07-03 09:38] bernhardreiter commented on #23
Analysis shows: this is because of the missing `phase` value in the output.

[2019-07-03 10:06] bernhardreiter commented on #22
Thanks for the hint about setLineDashPattern, I've created a new issue #23.
So remaining here (in this issue)  is the support for settting and getting the LineHeightFactor.

@Fadiabb please edit the title to `Support getLineHeightFactor() and setLineHeightFactor()` next time you are looking into this.

[2019-07-03 10:09] bernhardreiter commented on #23
The alternative of making parameter `dash` optional would be to to check if it is there and throw an error message. I prefer making it optional, because it makes the calling code shorter and more readable in a common use case.

[2019-07-03 11:44] HackbrettXXX commented on #23
I agree: making `dash` optional is better.

[2019-07-03 11:47] #23 closed

[2019-07-26 07:53] ThomasJunk opened #25 "Dependency of canvg"
I know this version is meant to be compatible to upstream.
OTOH, this version is used together with svg2pdf.
For the workings of svg2pdf the dependency to `canvg` is not necessary.
Is it here for compatibiliy reasons or could it be removed?

[2019-07-29 08:12] HackbrettXXX commented on #25
You are right. It is not required for svg2pdf to work, but we want to stay compatible to upstream, which is why we will keep the dependency. If you're using jsPDF only together with svg2pdf you do not need to load/bundle canvg. The same goes for html2canvas and stackblur-canvas.

[2019-07-29 09:23] ThomasJunk commented on #25
Thanks for clarification.

[2019-07-29 09:23] #25 closed

[2019-07-31 13:27] HackbrettXXX commented on #13
There are news on our side in case you are still interested in a reunion.

I made the effort to merge all changes from MrRio/master. The diff is now very small. Our fork is once again fully compatible with MrRio's version and all tests are green.

The following differences remain:
 * Two API modes on our side (one that is compatible with MrRio but has restricted functionality, one that offers full

[2019-07-31 17:26] Uzlopak commented on #13
@HackbrettXXX

Hi, unfortunately I am totally busy with my current occupation. If you make a PR I am going to merge it.

[2019-08-01 08:56] HackbrettXXX commented on #13
That are great news. I'm very glad you are open to this merge.

Here is the PR: https://github.com/MrRio/jsPDF/pull/2545

[2019-09-04 13:36] HackbrettXXX opened #26 "Resource dictionary of Tiling Patterns has wrong object numbers for images"
[code]

[2019-10-13 15:09] bpasham opened #27 "Typescript Types missing in the npm package"
Seems like types are well created but doesn't seem to be included in the npm package. Including them will help a lot of folks who are struggling to use this package in Typescript projects.

Also Thank you for all the hard work you put into this project.

[2019-10-14 08:12] HackbrettXXX commented on #27
You are right. We also should update the types first, since they were merged/copied from upstream and are missing some methods from this fork.

[2019-10-25 18:38] bpasham opened #28 "Invalid Units"
while using this in an iFrame (sandboxed) receiving error - Invalid units

it's on line number 3415 (call originated line # 14020) in the jspdf.debug.js

(i am using debug file to get the line numbers)

Any help is appreciated.

[2019-10-28 09:25] HackbrettXXX commented on #28
You are probably calling the jsPDF constructor wrong. The `unit` parameter you pass to jsPDF is wrong. You can either call it with regular arguments:
[code]
or with an option object
[code]
Valid units are pt, mm, cm, in, px, pc, em, ex.

[2019-10-29 04:06] bpasham commented on #28
It's not the call we are making from the code which is causing the issue. When .html method is called,  there is another call coming from html2canvas which is causing the issue. the option parameter is receiving some sort of promise
 - see attached screenshots.
![2019-10-25 13_33_11-jspdf debug js - DocGen - Visual Studio Code](https://user-images.githubusercontent.com/16566076/67736935-794ec100-f

[2019-10-29 09:21] HackbrettXXX commented on #28
Does this only occur when executed in an iframe? Could you provide a minimal repro? Could you also test if this issue also occurs with the [original jsPDF](https://github.com/MrRio/jsPDF) version?

[2019-11-28 14:03] HackbrettXXX commented on #28
Closing because of inactivity. Reopen if this is still an issue.

[2019-11-28 14:03] #28 closed

[2019-12-06 09:28] ThomasJunk opened #29 "Limit usage of embedded fonts to current used ones"
Hey guys,

MrRio JSDPF has an option putOnlyUsedFonts which limits the embedding of fonts to the actually used ones, which results in smaller PDFs - a goodie on Mobile with bad connection.

See: https://github.com/MrRio/jsPDF/blob/6c6ca0c4554eb5b6446dab9337befd6625119bee/src/jspdf.js#L86

Are there any current plans retrofitting this functionality into this fork?

I am asking only for planning pur

[2019-12-06 09:29] HackbrettXXX commented on #29
Still the wrong project? ^^

[2019-12-06 09:30] ThomasJunk commented on #29
Hopefully not.
This is the jsPDF-fork, right?

(It's friday of a long week :D)

[2019-12-06 09:32] HackbrettXXX commented on #29
Yes, this is the yWorks fork of jsPDF.

The feature you are referencing was already merged some time ago into this fork. So it should work. If not, this is a bug.

[2019-12-06 09:39] ThomasJunk commented on #29
Oh. Okay.
I was lazy, using only https://github.com/yWorks/jsPDF/search?q=putOnlyUsedFonts&unscoped_q=putOnlyUsedFonts which currently shows this thread but not the code.

[2019-12-06 09:42] ThomasJunk commented on #29
Okay. Looking at the source code, STRG+F finds it 3(.
I'll close here. Github's search is strange.

[2019-12-06 09:42] #29 closed

[2019-12-20 09:02] Danebrouwer97 commented on #27
How do I get and use the typings file? I see they exist, but if I try copy+paste the code over into an index.d.ts file, TS just complains that it is not a module.
[code]
Edit: Found the solution.
Change:
[code]
To:
[code]
Update:
This solves any issues thrown by typescript, but fails in actual use.  Likely because it's no longer a module that exports an actual class. I know nothing of creating Typ

[2019-12-20 09:22] HackbrettXXX commented on #27
Great you found the solution. A release where the types are included in the npm package is already in the pipeline.

[2020-01-07 10:12] KenjiTakahashi commented on #20
We're having similar problem over here. It happens with many characters, such as `…`, `€`, etc. When using default fonts, it renders `þÿ` (which is utf16 BOM "cast" to ansi). When using utf8 compatible font, the character gets stripped completely.
I'm trying to get to the bottom of this, please let me know if you have any insights!

[2020-01-07 12:42] yGuy commented on #20
If you think this is a bug, please do provide ways to reproduce the bug.
Adding characters outside the ASCII range does *not* and cannot work with default fonts which only cover the ascii range.
Please see the custom font examples, which _do_ work, as far as I can tell.

[2020-01-10 06:06] msteigenberger commented on #2
@HackbrettXXX: Can you please tell me how you got it working? I'm facing the issue that while building my ts project:
`ERROR in ./node_modules/jspdf-autotable/dist/jspdf.plugin.autotable.js
Module not found: Error: Can't resolve 'jspdf' in '...\node_modules\jspdf-autotable\dist'`
When adding it as dev dependency it can be build, however at runtime facing the issue:
`doc.autoTable is not a function

[2020-01-10 07:58] yGuy commented on #2
You will have to fork/patch jspdf-autotable, too so that it resolves the jspdf dependency to our fork, if you want to use the default node_modules resolution mechanism to work. It still expects the original repo to be available.

[2020-01-10 09:56] KenjiTakahashi commented on #20
Alright, so I got around to it and indeed it is not jspdf problem, sorry!
It works fine when using Unicode aware font, but in our real code, jspdf is called by Highcharts and it is removing part of our custom `font-family` definitions when exporting to PDF (why? no idea).

Still, I have to say that the font situation here is complicated. I don't know if there's any improvement that can be made, th

[2020-01-21 19:56] chrisregnier opened #30 "Kerning string size bug in getCharWidthsArray"
From the original project https://github.com/MrRio/jsPDF/issues/2647
Since there doesn't seem to be a lot of movement on the original project I've tried your branch as well and found the same issue.

I'm kinda surprised I couldn't find any other issues that seemed to point to this as a problem with string sizes, so I'm curious if this is actually the expected kerning behaviour that I'm misundersta

[2020-01-22 08:11] yGuy commented on #30
That's probably because this fork was originally created to support [svg2pdf](https://github.com/yworks/svg2pdf.js) and it does not depend on the suspiciuous functionality. I am unsure whether this problem (if it is one) affects svg2pdf but your code sample does look suspicious to me, too. Do you know what kind of code/plugin/jspdf functionality would be affected if this is a bug? Or is this only

[2020-01-22 08:27] yGuy commented on #30
I'd say the code is wrong, and this is rather obvious:

https://github.com/MrRio/jsPDF/blob/7d4e2eb075d832407b8113881808b5475234f0aa/src/modules/split_text_to_size.js#L74

If the font has a kerning in the lookup for a pair of characters, it will keep that kerning "correction value" for all upcoming pairs of characters if there is no value in the lookup, which is probably the case for most characte

[2020-01-22 09:04] HackbrettXXX commented on #30
I agree with @yGuy. We would be happy about a pull request @chrisregnier :)

[2020-01-22 20:32] sschmidTU opened #31 "jsPDF always logs warning when used with svg2pdf"
When using svg2pdf, which depends on jspdf, i always get this warning in the console right in the import phase:
![image](https://user-images.githubusercontent.com/33069673/72931229-c7b4f700-3d5d-11ea-8720-38331204e0ea.png)

I know this is not entirely jspdf's fault, it's probably due to svg2pdf importing jspdf, and if you want to use svg2pdf, you have to import jspdf as well, in which case the Acr

[2020-01-23 08:42] HackbrettXXX commented on #31
IMO the acroform module shouldn't even register any classes to the global namespace since they are always available via jsPDF. For backward compatibility we should keep it, though. But I guess we can at least remove the warning entirely. I think there are very few use cases where this warning is helpful compared to the amount of false positives.

Can you prepare a pull request?

[2020-01-23 18:40] sschmidTU commented on #31
Yes, registering to global namespace is a bit unideal because it can also create conflicts when different versions are used simultaneously.

Thanks for the consideration! I created PR #32.

[2020-01-24 08:36] #31 closed

[2020-01-29 01:37] chrisregnier commented on #30
OK perfect I'll add create a PR for both repos. Thanks

[2020-02-03 12:20] VKB2612 opened #34 "jsPDF does not support html() in IE v11"
jsPDF new version (2.1.1) is running fine on all the browsers except IE v11.

Try below link to reproduce the issue.
[https://jsbin.com/runaheq/2/edit?html,js,output]

The JS error meesage is "Object doesn't support property or method 'html'".
Please check.

Thanks and regards

[2020-02-03 12:48] HackbrettXXX commented on #34
As you can see in the developer console, the `html` method requires a `Promise` implementation:
[code]
So in order to make it work in IE11 load a Promise polyfill first.

[2020-02-03 12:48] #34 closed

[2020-02-03 15:05] VKB2612 commented on #34
Hi @HackbrettXXX,

Thanks for your reply. I could see only error message "Object doesn't support property or method 'html'" in the developer console. Anyways now I have added the polyfill. Now there is no error but pdf is not downloaded as well. Could you please check? [Link](https://jsbin.com/vamixuq/8/edit?html,js,output)

Note: I am not able to add a zip file having a video demonstrating the is

[2020-02-03 15:42] yGuy commented on #34
Sorry, we won't debug this for you. You will have to come up with a minimal SSCCE if you think this is a bug in jsPDF.

[2020-02-03 16:20] VKB2612 commented on #34
Hi @yGuy ,
Please find attached html file. Run it in IE v11. No error in developer console but PDF is not generated. It works in FF, Chrome and Edge however. I hope this example suffices. Please let me know what is the issue here.

[jsPDFTest.zip](https://github.com/yWorks/jsPDF/files/4148857/jsPDFTest.zip)

Regards

[2020-02-04 09:51] #30 closed

[2020-02-05 13:30] HackbrettXXX commented on #34
It seems to be an issue with this special polyfill. With a [different promise polyfill](https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.js), it seems to be working.

I tried to debug it with your polyfill, but this is rather difficult since even in the non-minified version of the polyfill the promise part is minified. I'm still not sure if it is an issue of the polyfill you ar

[2020-02-06 10:11] VKB2612 commented on #34
Hi @HackbrettXXX ,
Thanks for your reply. "With a different promise polyfill, it seems to be working." I tried to run the same html file referring polyfill file you mentioned, I am still seeing the same error. Did it work for you in IE 11?
Regards

[2020-02-06 10:50] HackbrettXXX commented on #34
Did you set `window.Promise = window.ES6Promise`?

[2020-02-06 11:02] VKB2612 commented on #34
Yes, like shown below. Still the same error. Let me know if something else is missing?
window.Promise = window.ES6Promise;
        function run() {
            var pdf = new jsPDF('p', 'pt', 'a4');
            pdf.html(document.body,
                {
                    callback: function (output) {
                        console.log('1');
                        pdf.save('outputPDF.pdf');

[2020-02-06 11:03] HackbrettXXX commented on #34
You need to set this _before_ you load jspdf.

[2020-02-06 11:09] VKB2612 commented on #34
Hi @HackbrettXXX ,
Thanks a lot, its working fine now.
Regards

[2020-03-22 12:59] Jollyfant commented on #20
@KenjiTakahashi - I'm facing a similar challenge with local exporting of Highcharts where I need unicode symbols.

I've converted a unicode aware font `Lucida Sans Unicode` font (named `l_10646`) using the `jsPDF` fontconverter and included it. Then, I modified the highcharts code to call: `pdf.setFont("l_10646")` before it calls `win.svg2pdf`.

But still the exported PDF shows garbled unicode cha

[2020-03-23 09:14] HackbrettXXX commented on #20
Did you load the font file after jsPDF?

[2020-03-24 10:02] Jollyfant commented on #20
Yep and when checking with e.g. `pdf.__private__getFont("l_10646")` it exists. So maybe there are some extra settings with Highcharts that need to be modified and @KenjiTakahashi may have the answer.

[2020-03-24 12:37] HackbrettXXX commented on #20
Does it work if you manually add text to the pdf with this font?

[2020-03-24 16:27] Jollyfant commented on #20
Yep, good idea and that works! The encoding is fine and the symbols are there. Highcharts makes a call to `svg2pdf` so perhaps the problem is there.

    win.svg2pdf(svgElement, pdf, { removeInvalid: true });

[2020-03-25 08:22] HackbrettXXX commented on #20
What does the SVG look like that's passed to svg2pdf? Does it use your custom font?

[2020-03-28 22:58] KenjiTakahashi commented on #20
First thing I'd do is to use some pdf editor (I use `masterpdfeditor`) and check if the text is actually using your font. Like I mentioned, highcharts is doing funky stuff with `font-family` declarations, so if it is not being used, make sure you have only 1 entry in `font-family` for your `svg` element(s) and see if it helps.

[2020-03-30 13:10] Jollyfant commented on #20
Thanks for the suggestions and after some hacking it works now. It may very well be a problem with highcharts: https://github.com/highcharts/highcharts/issues/6417#issuecomment-605987987.

[2020-04-07 05:59] 1valdis commented on #13
I believe the issue should now be closed? And the `jspdf-yworks` NPM package should be marked deprecated and lead to `jspdf` in the Readme somewhere? I'm just evaluating if I should use `jspdf` and the fork makes things a little more confusing ;)

[2020-04-07 07:07] HackbrettXXX commented on #13
Yes, that's the ultimate plan ;)

[2020-04-07 07:07] #13 closed

[2020-05-05 12:13] Trainmaster opened #35 "ES6 import does not work with disabled AMD parser in webpack"
Webpack allows to disable AMD parsing - for a good reason - with the following option: https://webpack.js.org/configuration/other-options/#amd. But when the AMD parser is disabled, it gives the following error:

[code]

It can be reproduced with the following configuration:

`package.json`:

[code]

`webpack.config.js`:

[code]

`app.js`
[code]

`index.html`
[code]

Using
[code]
or

[code]

doesn'

[2020-05-05 13:52] HackbrettXXX commented on #35
Yes that's definitively something we should improve with the next release.

[2020-07-22 11:25] Prat041192 opened #36 "Support for webp images"
Feature requests, bug reports etc. are very welcome as issues. But questions are directed to stackoverflow with the tag `jspdf`.

Note that bug reports should follow these guidelines:

1. A bug should be reported as an [mcve](https://stackoverflow.com/help/mcve)
2. Make sure code is properly indented and [formatted](https://help.github.com/articles/basic-writing-and-formatting-syntax/#quoting-code

[2020-07-22 11:44] HackbrettXXX commented on #36
The upstream project (https://github.com/MrRio/jsPDF) recently got support for Webp images. We merged the features of this fork into the upstream repository some time ago and yWorks is now co-maintainer of the original project, which is why this repository will soon be archived. MrRio/jsPDF will soon get a new release that will also support Webp images.

[2020-07-27 07:48] kilianso commented on #20
Hey there! I have the same issue using your fork of jsPDF. The custom font is Inter-bold.ttf (converted using the official base64 tool) and loaded with an own script tag just below the CDN link of your library.

It is shown correctly in the browser but once you download the file as PDF and not open it in the browser, all glyphs are messed up.

I use it like this:

[code]

You can reproduce the iss

[2020-07-27 07:57] yGuy commented on #20
Actually looks pixel-perfect for me when viewing on Chrome/Edge - what PDF viewer are you using?

[2020-07-27 08:10] kilianso commented on #20
Please read again. It is showing correctly in the browser but not in the actual PDF if you open it **not in the browser**. PDF viewer is the built in "Preview" app of MacOS.

By the way, adding the font like this:

`doc.addFont('fonts/Inter-Bold.ttf', 'Inter-Bold', 'bold')`

is not working either.

And i tried different other fonts. All with the same result.

[2020-07-27 08:36] HackbrettXXX commented on #20
The PDF looks good to me, as well. It correctly contains the font and looks good in Chrome and in Adobe Reader. You probably ran into https://github.com/MrRio/jsPDF/issues/2743. Try to disable compression as a workaround.

[2020-07-27 08:47] kilianso commented on #20
@HackbrettXXX Ahh nice! Indeed setting compression to false resolves the issue. Would be cool to mention this in the documentation. Thanks a lot.

[2020-07-27 09:28] Prat041192 commented on #36
@HackbrettXXX , Thanks for getting back on this. When is the next release planned? and is there any suggestion by which I can reduce the size of the pdf. I've lot of tags and logos that combine together in the pdf that needs to export.

[2020-07-27 12:42] HackbrettXXX commented on #36
There is no fixed release date, yet. Probably within the next weeks.

You can turn on by passing `compress: true` to the jsPDF options, but this won't help much if your PDF mainly consists of images. If your images originate from vector graphics, you can add them using [svg2pdf](https://github.com/yWorks/svg2pdf.js). If not, your only option is to compress your images as much as possible. Currentl